- var pageTitle = "Hello FromAtoB"
- var site = "AguacateKun"
- var fbPreview = "http://aguacatekun.com/img/fromatob.png"
- var icoPath = "img/favicon.png"
- var icoBackground = "#222"
- var description = "FromAtoB // CoverLetter"
- var viewPort = true
- var imgSufix = "img/"