- var pageTitle = "Hello FromAtoB"
- var site = "AguacateKun"
- var fbPreview = "https://miguel-rivas.github.io/zapp/img/fromatob.png"
- var icoPath = "https://miguel-rivas.github.io/zapp/img/favicon.png"
- var icoBackground = "#222"
- var description = "FromAtoB // CoverLetter"
- var viewPort = true
- var imgSufix = "img/"